<a href="https://www.flaticon.com/de/kostenlose-icons/zoo" title="zoo Icons">Zoo Icons erstellt von Smashicons - Flaticon</a>
<a href="https://www.flaticon.com/de/kostenlose-icons/bar" title="bär Icons">Bär Icons erstellt von Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/ethnic" title="ethnic icons">Ethnic icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/rabbit" title="rabbit icons">Rabbit icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/koala" title="koala icons">Koala icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/fox" title="fox icons">Fox icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/deer" title="deer icons">Deer icons created by Chanut-is-Industries - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/turtle" title="turtle icons">Turtle icons created by Freepik - Flaticon</a>
